<div class="center hero-unit text-center">
  <h1>Superior Construction Internal Application (SCIA)</h1>

  <h2>
    Requirements List
  </h2>
  <ol>
    <li>
      Jill just got married and needs to change her name.  The current app does not allow this action to happen.
      Allow updates to the employees.
    </li>
    <li>
      We've noticed duplicate users on the Users index page. Write a rake task to clean these entries up and put in
      a fix to not allow this to happen.
    </li>
    <li>
      We currently have a excel list of all employees working on each project.  We would like to see this data in
      the app.  Each project should list the employees working on the project and each employee should show which projects
      they are working on.
    </li>
    <li>
      Each project has a list of materials.  Define the model and relationships.  Each project should show the materials needed
      to complete the project.  We would also like to have an inventory page to keep track of all our materials.
    </li>
  </ol>
</div>
