<div class="text-center">
  <h1>Create new Users</h1>
</div>
<div>
  <%= form_for(@user) do |f| %>
    <%= render 'create_fields', f: f %>
    <%= f.submit "Create a new User", class: "btn btn-large btn-primary" %>
  <% end %>
</div>
